* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed';
    font-weight: 500;
}
@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url(/font/BarlowSemiCondensed-SemiBold.ttf);
}
body {
    background-color: hsl(210, 46%, 95%);
    width: 1440px;
    margin: 14vh auto;
}
.grid-container {
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 2;
    grid-template-areas: 
    "daniel daniel jonathan kira"
    "jeanette patrick patrick kira";
    gap: 30px;
    font-size: 13px;
}
.profile {
    border-radius: 10px;
    padding: 40px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 65px 96px 58px -69px rgb(25 33 46 / 26%);
}
.daniel {
    background-image: url(/img/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 80% 0%;
    background-size: 23%;
    background-color: hsl(263, 55%, 52%);
    grid-area: daniel;
}
.jonathan {
    background-color: hsl(217, 19%, 35%);
    grid-area: jonathan;
}
.kira {
    background-color: hsl(0, 0%, 100%);
    grid-area: kira;
}
.jeanette {
    background-color: hsl(0, 0%, 100%);
    grid-area: jeanette;
}
.patrick {
    background-color: hsl(219, 29%, 14%);
    grid-area: patrick;
}
.profile div p {
    margin-left: 20px;
}
.name {
    color: hsl(0, 0%, 100%);
}
.name2 {
    color: hsl(217, 19%, 35%);
}
.verif {
    color: hsl(0, 0%, 100%);
    opacity: 50%;
}
.verif2 {
    color: hsl(217, 19%, 35%);
    opacity: 50%;
}
.profile div {
    display: flex;
    align-items: center;
}
.profile div div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.profile div img {
    float: left;
    border-radius: 50%;
}
.h2a {
    color: hsl(0, 0%, 100%);
    font-weight: 600;
}
.h2b {
    color: hsl(217, 19%, 35%);
}
.quotations {
    opacity: 70%;
    color: hsl(0, 0%, 100%);
    font-weight: 500;
}
.quotationsb {
    opacity: 70%;
    color: hsl(217, 19%, 35%);
    font-weight: 500;
}
